@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}
ul li{
    transition: left 0.3s ease-in; /* Adjust duration and easing as desired */
}

.search-container.active {
    transform: translateX(0);
}

.arrow {
    transition: transform 0.3s ease;
}
.active {
    transform: rotate(90deg);

}
